/* CustomDropdown.css */
.dropdown {
    position: relative;
    /*display: inline-block;*/
    width: 80%;
}

.dropdown-toggle {
    background-color: white;
    /*border: 1px solid gray;*/
    /*color: white;*/
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    color: black;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dropdown-toggle:focus {
    outline: none;
}

.dropdown-menu {
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    list-style-type: none;
}

.dropdown-menu li {
    padding: 10px;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background-color: #f1f1f1;
}
